.*
composer.* export-ignore
gulpfile.js export-ignore
README.md export-ignore
tsconfig.json export-ignore
package.json export-ignore
package-lock.json export-ignore
phpcs.xml export-ignore
readme.md export-ignore
.gitattributes export-ignore